.footer {
    @include respValue('padding-top', 150, 40, 1);
    @include respValue('padding-bottom', 97, 20, 1);
    color: #ffffff;
    background-color: $bgColor;
    a {
        position: relative;
        text-decoration: none;
        color: inherit;
        opacity: 0.8;
        font-weight: 300;
        transition: opacity 0.3s ease;
        @include respValue('font-size', 16, 20, 1);
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }
    // .footer__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    // .footer__contacts
    &__contacts {
        flex: 0 0 37%;
        @media (max-width: 1024px) {
            flex: 0 0 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            & > * {
                padding: 0px 20px;
                flex: 1 1 auto;
                justify-content: center;
                text-align: center;
            }
            img {
                margin: 0 auto;
            }
        }
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }
    // .footer__logo
    &__logo {
        @include respValue('margin-bottom', 57, 20, 1);
        position: relative;
        height: 42px;
        z-index: 3;
        @media (max-width: 767px) {
            height: 36px;
        }
        @media (max-width: 424px) {
            height: 30px;
        }
        img {
            filter: brightness(0) invert(1);
            max-height: 100%;
            display: block;
        }
    }
    // .footer__phone
    &__phones {
        @include respValue('margin-bottom', 50, 20, 1);
        white-space: nowrap;
    }
    // .footer__phone
    &__phone {
        line-height: 2em;
    }
    // .footer__mail
    &__mail {
        @include respValue('margin-bottom', 50, 20, 1);
        display: block;
        white-space: nowrap;
    }
    // .footer__social
    &__social {
        @include respValue('margin-bottom', 50, 20, 1);
    }
    &__checkbox {
        display: none;
        @media (max-width: 767px) {
            &:checked ~ .footer__links {
                max-height: 0;
                margin-bottom: 0;
            }
            &:checked ~ .footer__label::after {
                transform: rotate(45deg);
                margin-top: 0px;
            }
        }
    }
    &__label {
        margin-bottom: 20px;
        font-weight: 300;
        font-family: inherit;
        opacity: 0.8;
        padding: 15px 0px;
        display: flex;
        @include respValue('font-size', 16, 22, 1);
        &::after {
            transition: transform 0.3s ease;
            content: '';
            margin-top: 5px;
            display: block;
            width: 16px;
            height: 16px;
            border-right: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            transform: rotate(225deg);
            margin-left: 20px;
        }
        @media (min-width: 767px) {
            display: none;
        }
    }
    // .footer__links
    &__links {
        flex: 1 1 auto;
        overflow: hidden;
        transition: max-height 1s ease;
        max-height: 1000px;
        margin-bottom: 143px;
        @media (max-width: 1024px) {
            margin-bottom: 50px;
        }
        @media (min-width: 767px) {
            max-height: 1000px;
        }
    }
    // .footer__bottom
    &__bottom {
        flex: 0 0 100%;
    }
}
.social {
    display: flex;
    a {
        opacity: 1;
    }
    & > li:not(:last-child) {
        margin-right: 30px;
    }
    // .social__link
    &__link {
        display: block;
        @include respValue('height', 17, 22, 1);

        svg {
            transition: fill 0.3s ease;
            fill: $footerTextColor;
            height: 100%;
            @media (any-hover: hover) {
                &:hover {
                    fill: #ffffff;
                }
            }
        }
    }
}
.links-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // .links-footer__column
    &__column {
        @media (max-width: 767px) {
            flex: 0 0 100%;
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 3em;
            }
        }
    }
    li {
        &:not(:last-child) {
            margin-bottom: 2em;
        }
    }
    // .links-footer__link
    &__link {
        display: block;
        padding-right: 20px;
    }
}
.bottom-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $footerTextColor;
    a {
        opacity: 1;
        transition: color 0.3s ease;
    }
    // .bottom-footer__copyright
    &__copyright {
        flex: 1 1 auto;
        @include respValue('font-size', 16, 20, 1);
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    // .bottom-footer__links
    &__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li:not(:last-child) {
            margin-right: 40px;
        }
        @media (max-width: 767px) {
            flex: 0 0 100%;
            margin-top: 20px;
            justify-content: center;
            li {
                padding: 10px 10px;
            }
            li:not(:last-child) {
                margin-right: 0;
            }
        }
    }
    // .bottom-footer__link
    &__link {
        @media (any-hover: hover) {
            &:hover {
                color: #ffffff;
            }
        }
    }
}
