$fontFamily: 'Brown', sans-serif;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1234;

$accentColor: #845cff;
$textColor: #32325d;
$lightTextColor: #525f7f;
$shadowColor: #6f36ff33;
$bgColor: #212240;
$footerTextColor: #555377;
$lightBg: #fafaff;
$placeholderColor: #8081ab;
